body {
  font-family: Arial;
  margin: 0px;
  padding: 0px;
  background: #f1f1f1;
  height: 100%;
    
  background-image: url("materials/Writers-Desk__1525774214.jpg");

  min-height: 500px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
  color: #4a4643;
}

html {
    height: 100%;
}

.header {
    margin: 0;
    padding: 0;
  font-size: 40px;
  text-align: center;
  background: #f8e9a3;
    width: 100%;
}

/* Left column */
.leftcolumn { 
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 23%;
}

.fakeimg {
  width: 80%;
  padding: 0px;
}

.rightcolumn .fakeimg {
  width: 80%;
  padding: 20px 0px;
}

img {
    margin: 0px;
    padding: 0px;
}

.card {
  position: relative;
  background: url(materials/background-paper-distressed-base-image.jpg) repeat-x #f3ede1;    
  /*background-color: #f3ede1;*/
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

.cont {
  max-width: 1300px;
  margin: auto;
}



a {
  text-decoration: none;
  color: inherit;
}


/*Login Form*/

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0; 
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

form {
  border: 3px solid #f1f1f1;
    max-width: 600px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  float: right;
  background-color: #aaa;
  color: black;
  padding: 4px 20px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 42px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: 100px;
  padding: 12px 18px;
  background-color: #f44336;
}

.registerbtn {
  background-color: #aaa;
  color: black;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

form a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}



/*Navigation*/
.topnav {
  overflow: hidden;
  background-color: #aaa;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #bbb;
}


.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 300px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


/*TABLE*/

#admtable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#admtable td, #admtable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#admtable tr:nth-child(even){background-color: #f2f2f2;}

#admtable tr:hover {background-color: #ddd;}

#admtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #aaa;
  color: white;
}


/*Add/Edit form*/
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #aaa;
  color: black;
  padding: 12px 20px;
  margin: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}